<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace用于建立映射文件与 Mapper 接口的绑定关系，确保 MyBatis 能正确识别并执行对应的 SQL 语句-->
<mapper namespace="com.example.springboothtml.Mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.springboothtml.entity.Users">
        <id column="id" property="id" jdbcType="BIGINT"></id>

        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>

        <result column="userTX" property="userTX" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="QMing" property="QMing" jdbcType="VARCHAR"/>
        <result column="isLogin" property="isLogin" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="loginTime" property="loginTime" jdbcType="VARCHAR"/>
    </resultMap>

<!--基础字段 方便下面mysql语句使用-->
    <sql id="Base_Column_List">
       username,password, userTX, sex, number, QMing , birth,name, loginTime
    </sql>

<!--对应mapper接口层中查询方法名-->
<!--根据用户名查询是否存在该用户-->
    <select id="loginByusername" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from users where username = #{username}
    </select>

<!--根据用户名和密码查询是否符合-->
    <select id="loginByusernameAndpassword" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
            from users where username = #{username} and password = #{password}
    </select>
<!--注册业务逻辑-->
    <insert id="registerzhuce" parameterType="com.example.springboothtml.entity.Users" keyProperty="id" useGeneratedKeys="true">
        insert into users
        (username,password,isLogin,userTX , name)
        values (#{username} , #{password}, #{isLogin}, #{userTX} , #{name})
    </insert>

    <!--修改用户登录状态 -->
    <update id="LoginState">
        update users set isLogin = #{isLogin} where username = #{username}
    </update>
    <!--修改用户登录时间 -->
    <update id="loginTime">
        update users set loginTime  = #{loginTime} where username = #{username}
    </update>


<!--修改密码业务-->
    <update id="XiuGaiPassword">
        update users set password = #{password} where username = #{username}
    </update>


<!--更新用户信息-->
    <update id="XGUserinfo">
        update users
            <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birth != null">birth = #{birth},</if>
            <if test=" number != null and number != ''">number = #{number},</if>
            <if test="QMing != null">QMing = #{QMing},</if>
            </set>
            where username = #{username}
    </update>
    
<!--修改头像-->
    <update id="XGTX">
        update users set userTX = #{userTX} where username = #{username}
    </update>
    <update id="updateById">
        update users
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="userTX != null">userTX = #{userTX},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birth != null">birth = #{birth},</if>
            <if test="number != null">number = #{number},</if>
            <if test="QMing != null">QMing = #{QMing},</if>
            <if test="isLogin != null">islogin = #{isLogin},</if> <!-- 新增：更新isLogin字段（注意数据库字段名） -->
            <if test="loginTime != null">loginTime = #{loginTime}</if>
        </set>
        where id = #{id} <!-- 必须加where条件！否则会更新全表！ -->
    </update>

</mapper>























